Repository dherincx92/fpds, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, source, github-actions, upstream-dependencies

.github/labeler.yml:

docs:
  - changed-files:
      any-glob-to-any-file:
        - "README.md"

source:
  - changed-files:
      any-glob-to-any-file:
        - "src/**/*"

github-actions:
  - changed-files:
      any-glob-to-any-file:
        - ".github/**/*"

upstream-dependencies:
  - changed-files:
      any-glob-to-any-file:
        - "pyproject.toml"
        - "uv.lock"

minor: fix cut release pipeline to use env vars
  .github/workflows/publish.yml
Labels: github-actions

Add GITHUB_TOKEN
  .github/workflows/publish.yml
Labels: github-actions

remove erroneous parameter
  .github/workflows/publish.yml
Labels: github-actions

minor: add workflow_dispatch to trigger publish manually
  .github/workflows/publish.yml
Labels: github-actions

minor: add gh step to publish release with semantic version
  .github/workflows/publish.yml
Labels: github-actions

add id to publish release step
  .github/workflows/publish.yml
Labels: github-actions

print semantic version in test GHA
  .github/workflows/test-package.yml
Labels: github-actions

remove colon
  .github/workflows/test-package.yml
Labels: github-actions

minor: fix syntax
  .github/workflows/test-package.yml
Labels: github-actions

Set dry run to true
  .github/workflows/test-package.yml
Labels: github-actions

Set dry_run to true and remove package version step outside matrix
  .github/workflows/test-package.yml
Labels: github-actions

Add checkout step
  .github/workflows/test-package.yml
Labels: github-actions

Removing test quotes
  .github/workflows/test-package.yml
Labels: github-actions

minor: add test package version in test GHA pipeline and fix regex match pattern
  .github/workflows/publish.yml
Labels: github-actions

minor: update gh command in publish.yml to use create instead of edit which was causing issues with deployment pipeline
  .github/workflows/publish.yml
Labels: github-actions

minor: update CLI command with params field and update Makefile to allow proper uv.lock file update
  Makefile
  pyproject.toml
  src/fpds/cli/__init__.py
  src/fpds/cli/params.py
  uv.lock
Labels: source, upstream-dependencies

minor: update CLI with new fields command
  src/fpds/cli/__init__.py
  src/fpds/cli/fields.py
Labels: source

Add end of file whitespace
  src/fpds/cli/fields.py
Labels: source

Fix README
  README.md
  src/fpds/cli/fields.py
Labels: docs, source

Lower the default download concurrency
  src/fpds/core/parser.py
Labels: source

minor: fix field with missing regex pattern and update data method to output records as json gz; first iteration
  pyproject.toml
  src/fpds/constants/fields.json
  src/fpds/core/parser.py
  uv.lock
Labels: source, upstream-dependencies

fix Makefile
  Makefile
Labels: none

Add scraper script to use with GHA to idenify new search fields
  src/fpds/scripts/scraper.py
Labels: source

Fix dependencies; remove aiohttp --> httpx
  pyproject.toml
Labels: upstream-dependencies

Add WIP parser tests; still few enhancements remaining in parser
  src/fpds/core/parser.py
  tests/test_parser.py
Labels: source

Fix trailing comma on param utilities
  src/fpds/utilities/params.py
Labels: source

fix docstring for param utilities
  src/fpds/utilities/params.py
Labels: source

Add new fpdsWriter to handle chunking and gzipping of records
  src/fpds/core/parser.py
  src/fpds/utilities/writer.py
Labels: source

Updated uv.lock dependencies
  uv.lock
Labels: upstream-dependencies

Update CLI and assc. tests
  src/fpds/cli/__init__.py
  src/fpds/cli/fields.py
  src/fpds/cli/parse.py
  src/fpds/cli/root.py
  tests/test_cli.py
Labels: source

Add ezsearch url to config
  src/fpds/config.py
Labels: source

Add docstrings to CLI files
  src/fpds/cli/fields.py
  src/fpds/cli/parse.py
Labels: source

Update dependencies
  pyproject.toml
  uv.lock
Labels: upstream-dependencies

add headless option to selenium scraper
  src/fpds/scripts/scraper.py
Labels: source

Install scripts extra in pyproject.toml
  pyproject.toml
  uv.lock
Labels: upstream-dependencies

Run formatters
  src/fpds/cli/__init__.py
  src/fpds/cli/fields.py
  src/fpds/cli/parse.py
  src/fpds/cli/root.py
  src/fpds/core/parser.py
  src/fpds/scripts/scraper.py
  src/fpds/utilities/writer.py
Labels: source

Fix return type
  src/fpds/cli/root.py
Labels: source

Fix circular import
  src/fpds/cli/parse.py
  tests/test_cli.py
  tests/test_parser.py
Labels: source

Fixing type issues where relevant
  src/fpds/cli/__init__.py
  src/fpds/cli/fields.py
  src/fpds/cli/parse.py
  src/fpds/core/parser.py
  src/fpds/scripts/scraper.py
  src/fpds/utilities/writer.py
Labels: source

Fix last type issue
  src/fpds/cli/parse.py
Labels: source
