Repository dherincx92/fpds, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, source, github-actions, upstream-dependencies

.github/labeler.yml:

docs:
  - changed-files:
      any-glob-to-any-file:
        - "README.md"

source:
  - changed-files:
      any-glob-to-any-file:
        - "src/**/*"

github-actions:
  - changed-files:
      any-glob-to-any-file:
        - ".github/**/*"

upstream-dependencies:
  - changed-files:
      any-glob-to-any-file:
        - "pyproject.toml"
        - "uv.lock"

update README and add new xml test file with no links
  README.md
  tests/data/no_link_response.xml
Labels: docs

remove coment
  src/fpds/cli/parse.py
Labels: source

test xml
  tests/test_xml.py
Labels: none

minor: update docstring
  src/fpds/core/parser.py
Labels: source

Adding GHA step for installing just and modified tests
  .github/workflows/pr-for-new-fields.yml
  .github/workflows/publish.yml
  .github/workflows/test-package.yml
  Justfile
  tests/__init__.py
  tests/test_cli.py
  tests/test_parser.py
Labels: github-actions

Install webdriver manager package
  .github/workflows/pr-for-new-fields.yml
  pyproject.toml
  uv.lock
Labels: github-actions, upstream-dependencies

add trigger for new fields PR
  .github/workflows/pr-for-new-fields.yml
Labels: github-actions

minor: remove webdriver_manager package
  pyproject.toml
  uv.lock
Labels: upstream-dependencies

Fixing yml file workflow
  .github/workflows/pr-for-new-fields.yml
  src/fpds/scripts/__init__.py
  src/fpds/scripts/scraper.py
Labels: source, github-actions

Add pprint to scraper
  Justfile
  src/fpds/scripts/scraper.py
Labels: source

Using setup-chromedriver job
  .github/workflows/pr-for-new-fields.yml
Labels: github-actions

Add step for installing uv
  .github/workflows/pr-for-new-fields.yml
Labels: github-actions

pprint new options to test script
  src/fpds/scripts/scraper.py
Labels: source

minor: update scraper
  src/fpds/scripts/scraper.py
Labels: source

Add EOL
  tests/__init__.py
Labels: none

Update GHA for new fields
  .github/pull_request_template.md
Labels: github-actions

Thanks to Leon; updating types based on PEP-0604
  src/fpds/cli/fields.py
  src/fpds/core/parser.py
  src/fpds/core/xml.py
  src/fpds/scripts/scraper.py
  src/fpds/utilities/params.py
Labels: source

run formatters
  src/fpds/cli/__init__.py
  src/fpds/cli/fields.py
  src/fpds/cli/parse.py
  src/fpds/core/parser.py
  src/fpds/utilities/writer.py
Labels: source

Add PR step
  .github/workflows/pr-for-new-fields.yml
Labels: github-actions

Push formatting for tests
  tests/test_parser.py
  tests/test_xml.py
Labels: none

add formatters step in test-package GHA workflow to ensure formatter output from ruff is committed
  .github/workflows/test-package.yml
Labels: github-actions

Activate environment
  Justfile
Labels: none

update scraper logic
  Justfile
  src/fpds/scripts/scraper.py
Labels: source

Update PR title
  .github/workflows/pr-for-new-fields.yml
Labels: github-actions

Syntax error on new fields yaml pipeline
  .github/workflows/pr-for-new-fields.yml
Labels: github-actions

Fix package dependencies and capping typing-extensions at major version 5.0.0
  pyproject.toml
  uv.lock
Labels: upstream-dependencies

Convert all classes to pascal case
  src/fpds/core/mixins.py
  src/fpds/core/parser.py
  src/fpds/core/xml.py
  src/fpds/utilities/writer.py
Labels: source

fix indent in pyproject.toml
  pyproject.toml
Labels: upstream-dependencies

Fix casing references across repo to be pascal case
  src/fpds/__init__.py
  src/fpds/cli/parse.py
  src/fpds/core/parser.py
  src/fpds/core/xml.py
  src/fpds/errors.py
  src/fpds/utilities/params.py
  tests/test_cli.py
  tests/test_parser.py
  tests/test_xml.py
Labels: source

patch: [skip ci] Run formatters
  tests/test_cli.py
Labels: none

Add additional configs to auto commit
  .github/workflows/test-package.yml
Labels: github-actions

Remove bad options
  .github/workflows/test-package.yml
Labels: github-actions

Add trailing whitespace when writing new fields.json file
  src/fpds/scripts/scraper.py
Labels: source

comment pull request action
  .github/workflows/pr-for-new-fields.yml
Labels: github-actions

Fix parse to ensure dir var always exists
  src/fpds/cli/parse.py
Labels: source

Update Justfile
  Justfile
Labels: none

Update src/fpds/utilities/writer.py
  src/fpds/utilities/writer.py
Labels: source

Update src/fpds/utilities/writer.py
  src/fpds/utilities/writer.py
Labels: source

Update README.md
  README.md
Labels: docs

fix indent in pyproject.toml
  pyproject.toml
Labels: upstream-dependencies
