Repository dherincx92/fpds, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, source, github-actions, upstream-dependencies

.github/labeler.yml:

docs:
  - changed-files:
      any-glob-to-any-file:
        - "README.md"

source:
  - changed-files:
      any-glob-to-any-file:
        - "src/**/*"

github-actions:
  - changed-files:
      any-glob-to-any-file:
        - ".github/**/*"

upstream-dependencies:
  - changed-files:
      any-glob-to-any-file:
        - "pyproject.toml"
        - "uv.lock"

Remove PR template markdown
  .github/pull_request_template.md
Labels: github-actions

minor: update README
  README.md
  src/fpds/cli/fields.py
Labels: docs, source

Attempt to fix ascii
  README.md
Labels: docs

Add pre tag
  README.md
Labels: docs

major: closing in on the final commit
  README.md
Labels: docs

typo removing ref to Makefile
  README.md
Labels: docs

Add img/ dir
  img/fpds-fields-cli-output.png
  img/fpds-fields-vendor.png
Labels: none

Update README
  README.md
Labels: docs

Updating scraper now that we can get input boxes correctly
  src/fpds/scripts/scraper.py
Labels: source

patch: [skip ci] Run formatters
  src/fpds/scripts/scraper.py
Labels: source

re run new fields workflow
  .github/workflows/pr-for-new-fields.yml
Labels: github-actions

create separate formatters job due to clashing commits with matrix
  .github/workflows/test-package.yml
Labels: github-actions

Add conditional to jst execute commit on 3.13
  .github/workflows/test-package.yml
Labels: github-actions

minor: updating README and removing duplicate text
  README.md
Labels: docs

inspired by Leon; using list instead of List
  src/fpds/core/parser.py
Labels: source

Change default chunk size to 10 MB instead of 100MB
  src/fpds/core/parser.py
Labels: source

Add scraper job to retrieve data dict url and publish it in GHA
  .github/workflows/pr-for-new-fields.yml
  src/fpds/scripts/scraper.py
Labels: source, github-actions

patch: [skip ci] Run formatters
  src/fpds/scripts/scraper.py
Labels: source

Update config with new workspace URL
  src/fpds/config.py
  src/fpds/scripts/scraper.py
Labels: source

Updating new fields workflow format and adding GHA output feed version to scraper script
  .github/workflows/pr-for-new-fields.yml
  src/fpds/core/parser.py
  src/fpds/scripts/scraper.py
Labels: source, github-actions

patch: [skip ci] Run formatters
  src/fpds/scripts/scraper.py
Labels: source

minor: update uv.lock and removing unstructured dependency
  src/fpds/constants/fields.json
  uv.lock
Labels: source, upstream-dependencies

Add new github module
  .github/workflows/pr-for-new-fields.yml
  src/fpds/scripts/scraper.py
  src/fpds/utilities/github.py
Labels: source, github-actions

patch: [skip ci] Run formatters
  src/fpds/scripts/scraper.py
  src/fpds/utilities/github.py
Labels: source

Update set github output function to support multiline
  src/fpds/scripts/scraper.py
  src/fpds/utilities/github.py
Labels: source

Add $ to ensure grid is rendered
  .github/workflows/pr-for-new-fields.yml
Labels: github-actions

Update PR template
  .github/workflows/pr-for-new-fields.yml
  src/fpds/scripts/scraper.py
  src/fpds/utilities/__init__.py
Labels: source, github-actions

patch: [skip ci] Run formatters
  src/fpds/scripts/scraper.py
Labels: source

Expand text grid for new fields workflow
  .github/workflows/pr-for-new-fields.yml
  src/fpds/scripts/scraper.py
Labels: source, github-actions

Add emoji for status
  src/fpds/scripts/scraper.py
Labels: source

patch: [skip ci] Run formatters
  src/fpds/scripts/scraper.py
Labels: source

update name/description to make them reusable
  src/fpds/scripts/scraper.py
Labels: source

minor: finalize PR format
  .github/workflows/pr-for-new-fields.yml
Labels: github-actions

remove unused parser test
  tests/test_parser.py
Labels: none

Update docstring for pattern in CLI command
  src/fpds/cli/fields.py
Labels: source

patch: [skip ci] Run formatters
  src/fpds/cli/fields.py
Labels: source

Add docstring for parse command
  src/fpds/cli/parse.py
Labels: source

Cleaning up some code and updating docstring for core FPDSRequest class
  src/fpds/core/parser.py
Labels: source

update docstrings in core/xml
  src/fpds/core/xml.py
Labels: source

update docstring for scraper
  src/fpds/scripts/scraper.py
Labels: source
