Repository dherincx92/fpds, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, source, github-actions, upstream-dependencies

.github/labeler.yml:

docs:
  - changed-files:
      any-glob-to-any-file:
        - "README.md"

source:
  - changed-files:
      any-glob-to-any-file:
        - "src/**/*"

github-actions:
  - changed-files:
      any-glob-to-any-file:
        - ".github/**/*"

upstream-dependencies:
  - changed-files:
      any-glob-to-any-file:
        - "pyproject.toml"
        - "uv.lock"

add missing docstrings
  src/fpds/utilities/github.py
  src/fpds/utilities/params.py
Labels: source

Cleaning up README
  README.md
Labels: docs

Updating cron time
  .github/workflows/pr-for-new-fields.yml
Labels: github-actions

Running scraper locally to ensure we get new fields from FPDS site directly
  src/fpds/constants/fields.json
Labels: source

Remove pull request trigger for new fields GHA workflow
  .github/workflows/pr-for-new-fields.yml
Labels: github-actions
